.container-design {
  width: 100% !important;
  max-width: 100%;
  margin: auto;
  display: block;
  margin-top: 50px; }

.box-creations {
  position: relative;
  width: 325px;
  min-height: 400px;
  transition: 0.3s ease-in-out; }
  .box-creations .block-img-default img {
    width: 100%;
    height: 100%;
    display: block; }

.grid-creations,
.filter-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.filter-item {
  width: calc(100% / 3);
  height: 390px !important; }

.hide {
  opacity: 0; }

.layer-infos {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #4badee;
  background-size: cover;
  transition: 0.4s ease-in-out;
  padding: 20px; }

.absolute-center-creations {
  width: 100%;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  text-align: center; }

.items-project-name {
  margin-bottom: 15px;
  color: #ffff05;
  font-weight: normal; }

.title-project-name {
  font-size: 25px;
  color: #fff; }

.box-creations:hover .hide,
.box-creations:hover .layer-infos {
  opacity: 1;
  transition: 0.3s ease-in; }
