#print {
    position: relative;

    .my-bootik-size {
        width: 88%;
        margin-top: -60px;

    }

    .retro-size,
    .affiche-cinema-size {
        width: 88%;
        margin-top: 10px;

    }
}

.content-img {
    img {
        width: 100% !important;
    }
}