.crea-bloc .flex-crea-bloc {
  display: flex; }

.crea-bloc .flex-crea-bloc .blocCreaBlueSky {
  width: 35%;
  max-width: 100%;
  padding: 25px;
  background: #4badee; }

.crea-bloc .flex-crea-bloc .blocCreaBlueSkyLight {
  width: 70%;
  max-width: 100%;
  padding: 40px 20px;
  background: #4bd5f2; }

.crea-bloc .flex-crea-bloc .blocCreaBlueSkyLight .icon-crea {
  width: 90px;
  margin-right: 30px; }

@media screen and (max-width: 1068px) {
  .crea-bloc .flex-crea-bloc {
    display: block; }
  .crea-bloc .flex-crea-bloc .blocCreaBlueSky,
  .crea-bloc .flex-crea-bloc .blocCreaBlueSkyLight {
    width: 100%;
    padding: 50px 0 !important; }
  .crea-bloc .flex-crea-bloc .icon-crea {
    width: 50px;
    margin-left: 0;
    margin-bottom: 20px;
    display: block; } }

#webdesign .blocCreaBlueSky .sephora-size,
#print .my-bootik-size {
  margin-top: 0 !important; }
