#a-propos {
    // margin-top: 200px;
    padding-top: 120px;
    padding-bottom: 120px;

    @media screen and (max-width: 1068px) {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .content-about {
        display: grid;
        grid-template-columns: 660px 680px;
        grid-gap: 90px;

        .bloc-txt-about {
            padding: 50px 20px;
            .title-about {
                font-size: 55px;
                font-weight: bold;
                @media screen and (max-width: 1068px) { 
                    font-size: 35px !important;
                }

            }

            .txt-about {
                margin-top: 25px;
                font-size: 35px;
                line-height: 1.7;
                @media screen and (max-width: 1068px) {
                    font-size: 22px !important;
                }
            }
        }

        .img-about {
            width: 680px;
            max-width: 100%;
        }

        @media screen and (max-width: 1068px) {
            display: block;
        }
    }

    
}

.container-main {
    width: 1400px;
    max-width: 100%;
    margin: auto;
}