#webdesign {
    position: relative;

    .blocCreaBlueSky {
        position: relative;

        .sephora-size {
            width: 100%;
            margin-top: 0px;

        }

        .marginTop {
            margin-top: 18px !important;
        }
       

        .starbuck-size {
       
            margin-top: 11px;

        }

        .maquette-size {
            width: 98%;
            margin-top: 11px;

        }

    }

}