.margin-top-section {
    margin-top: 0px;
}

.grid-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    @media screen and (max-width: 1068px) {
        display: block;
    }
}

.contact-left {
    background: #fff;
    padding: 40px;
}

.contact-right {
    background: #0E2840;
    padding: 30px 60px;

}

.margin-top-form {
    margin-top: 30px;
}

.services-name {
    color: #447099;
    margin-top: 15px;
    display: block;
}

.input-style {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: #0E2840;
}

.size-40-px {
    font-size: 40px;
}

.grid-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.services-lists {
    margin-right: 3%;
    margin-top: 15px;

    &:last-of-type {
        margin-right: 0;
    }
}

.label-services {
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
}

#textarea-contact {
    border: none;
    outline: none;
    width: 100%;
    margin-top: 20px;
    padding: 15px;
}

.btn-contact {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #e61b76;
    margin-top: 20px;
    transition: all .3s ease-in-out;

    &:hover {
        transition: all .3s ease-in-out;
        background-color: #f5d104;
    }

}

.mt-40px {
    margin-top: 40px;
}

.grid-social-links {
    margin-top: 25px;
    text-align: center;

    .social-links-circles {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid #eee;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin-right: 2%;

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            border: none;
            background-color: #e61b76;
            transition: all .3s ease-in-out;
        }
    }
}

.contact-picture {
    width: 700px;
    max-width: 100%;

}

.content-icon-contact {
    width: 25px;
    margin: auto;
    display: block;
    opacity: 1;
    margin-top: 12px;

    .icon-contact {
        width: 100%;
        display: block;
        z-index: 98;
    }
    
   
}

.mt-15 {
    margin-top: 15px !important;
}
 .social-links-circles:hover .icon-instagram .icon-contact,
    .social-links-circles:hover .icon-linkedin .icon-contact,
    .social-links-circles:hover .icon-behance .icon-contact {
        opacity: 0;
    }
    
    .social-links-circles:hover .icon-instagram {
        background-image: url("../../images/home/footer/icone-instagram-hover.png");
        width: 25px;
        background-repeat: repeat;
        background-size: cover;
    }
    
    
    .social-links-circles:hover .icon-linkedin{
        background-image: url("../../images/home/footer/icone-linkeding-hover.png");
        width: 25px;
        background-repeat: repeat;
        background-size: cover;
    }
    
    .social-links-circles:hover .icon-behance{
        background-image: url("../../images/home/footer/icone-behance-hover.png");
        width: 27px;
        background-repeat: repeat;
        background-size: cover;
    }

    .error-message {
        color: #e61b76;
        font-size: .9em;
    }

    .validate-message {
        color: #f5d104;
        font-size: .9em;
    }

 