@font-face {
  font-family: "notosansjp black";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Black.otf");
}

@font-face {
  font-family: "notosansjp bold";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Bold.otf");
}

@font-face {
  font-family: "notosansjp medium";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Medium.otf");
}

@font-face {
  font-family: "notosansjp regular";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Regular.otf");
}

@font-face {
  font-family: "notosansjp light";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Light.otf");
}

@font-face {
  font-family: "notosansjp thin";
  src: url("./fonts/noto-sans-jp/NotoSansJP-Thin.otf");
}

@font-face {
  font-family: "lazer";
  src: url(("./fonts/lazer84/Lazer84.ttf"));
}