#profil {
  padding: 120px 0;
  background: #4badee; }
  @media screen and (max-width: 1068px) {
    #profil {
      padding: 60px 0; } }
  #profil .content-about {
    display: grid;
    grid-template-columns: 650px 640px; }
    @media screen and (max-width: 1068px) {
      #profil .content-about {
        display: block;
        max-width: 100%; } }
    #profil .content-about .bloc-txt-about {
      color: #fff; }
      @media screen and (max-width: 1068px) {
        #profil .content-about .bloc-txt-about {
          padding: 20px; } }
      #profil .content-about .bloc-txt-about .title-profil {
        font-size: 40px !important;
        font-weight: bold; }
      #profil .content-about .bloc-txt-about .txt-profil {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 1.8; }
        @media screen and (max-width: 1068px) {
          #profil .content-about .bloc-txt-about .txt-profil {
            font-size: 22px; } }
  #profil .img-profil {
    width: 580px;
    max-width: 100%; }

.container-main-2 {
  width: 1550px;
  max-width: 100%;
  margin: auto; }

#other-passion {
  background: #4badee;
  padding: 120px 0px; }
  @media screen and (max-width: 1068px) {
    #other-passion {
      padding: 40px 0;
      padding-bottom: 60px; } }
  #other-passion .content-other-passion {
    display: grid;
    grid-template-columns: 650px 600px;
    grid-gap: 50px; }
    @media screen and (max-width: 1068px) {
      #other-passion .content-other-passion {
        display: block; } }
    #other-passion .content-other-passion .bloc-content {
      padding: 0px; }
      #other-passion .content-other-passion .bloc-content:nth-child(1) {
        padding: 20px; }
      #other-passion .content-other-passion .bloc-content .txt-other-passion {
        font-size: 35px;
        color: #fff; }
        @media screen and (max-width: 1068px) {
          #other-passion .content-other-passion .bloc-content .txt-other-passion {
            font-size: 22px; } }
      #other-passion .content-other-passion .bloc-content .grid-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px; }
        @media screen and (max-width: 1068px) {
          #other-passion .content-other-passion .bloc-content .grid-img {
            display: block; } }
        #other-passion .content-other-passion .bloc-content .grid-img .img {
          position: relative;
          cursor: pointer;
          transition: .3s ease-in;
          background: #fff; }
          #other-passion .content-other-passion .bloc-content .grid-img .img img {
            width: 100%;
            display: block; }
          #other-passion .content-other-passion .bloc-content .grid-img .img .layer {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(255, 214, 0, 0.84);
            transition: .3s ease-in-out;
            visibility: hidden;
            opacity: 0; }
            #other-passion .content-other-passion .bloc-content .grid-img .img .layer .content-layer {
              width: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #fff;
              text-align: center; }
              #other-passion .content-other-passion .bloc-content .grid-img .img .layer .content-layer .title-content {
                font-size: 1.8em;
                padding: 5px 35px; }
          #other-passion .content-other-passion .bloc-content .grid-img .img:hover .layer {
            visibility: visible;
            opacity: 1; }
          #other-passion .content-other-passion .bloc-content .grid-img .img .img-other-passion {
            width: 170px;
            height: 330px;
            margin-left: 75px;
            margin-top: 2px;
            display: block; }

.img-cintic {
  max-width: 100% !important; }
